<h1>Hey, good to see you here 🙋🏻‍</h1>

<p>I'm {{name}} software developer. I'm currently working on financial crypto-app in Python. The app is
aggregating and analysing financial data from multiple APIs sources (Request), web scraps (Selenium) and calculating
statistical indicators (Pandas). As a supplement to these indicators app is also forecasting coin's price performing
Time Series Analysis (AutoTS) and visualising data (Plotly). Output data is fed to the front-end by Flask and presented
on Telegram channel</p>
<h3>My current stack:</h3>
<p>
  <img alt="Python" src="https://img.shields.io/badge/-Python-45b8d8?style=flat-square&logo=python&logoColor=white" />
  <img alt="Pandas" src="https://img.shields.io/badge/-Pandas-8DD6F9?style=flat-square&logo=pandas&logoColor=white" />
  <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
  <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
  <img alt="AWS" src="https://img.shields.io/badge/-Amazon Web Services-1a73e8?style=flat-square&logo=amazonaws&logoColor=white" />
  <img alt="Fast API" src="https://img.shields.io/badge/-Fast API-007ACC?style=flat-square&logo=fastapi&logoColor=white" />
  <img alt="Selenium" src="https://img.shields.io/badge/-Selenium-5849BE?style=flat-square&logo=selenium&logoColor=white" />
  <img alt="Flask" src="https://img.shields.io/badge/-Flask-311C87?style=flat-square&logo=flask&logoColor=white" />
  <img alt="Django" src="https://img.shields.io/badge/-Django-430098?style=flat-square&logo=django&logoColor=white" />
  <img alt="MySQL" src="https://img.shields.io/badge/-MySQL-764ABC?style=flat-square&logo=mysql&logoColor=white" />
  <img alt="PostgresSQL" src="https://img.shields.io/badge/-PostgresSQL-B7178C?style=flat-square&logo=postgresql&logoColor=white" />
  <img alt="Jupyter Notebook" src="https://img.shields.io/badge/-Jupyter Notebook-FB542B?style=flat-square&logo=jupyter&logoColor=white" />
  <img alt="Solidity" src="https://img.shields.io/badge/-Solidity-CC6699?style=flat-square&logo=solidity&logoColor=white" />
  <img alt="Plotly" src="https://img.shields.io/badge/-Plotly-db7092?style=flat-square&logo=plotly&logoColor=white" />
  <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
  <img alt="Jira" src="https://img.shields.io/badge/-Jira-ea2845?style=flat-square&logo=jira&logoColor=white" />
  <img alt="html5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />
  <img alt="Brave browser" src="https://img.shields.io/badge/-Brave_Browser-FB542B?style=flat-square&logo=brave&logoColor=white" />
  <img alt="PHP" src="https://img.shields.io/badge/-PHP-F7B93E?style=flat-square&logo=php&logoColor=white" />
  <img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white" />
</p>
<h3>Find me here:</h3>
<p><a href="https://github.com/tomekkurzydlak" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
<a href="https://twitter.com/tomekkurzydlak" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a>
<a href="https://www.linkedin.com/in/tomasz-kurzydlak" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
</p>